---
import ContactArea from "@/components/common/ContactArea/ContactArea.astro";
import DownloadLink from "@/components/common/DownloadLink/DownloadLink.astro";
import LetterContents from "@/components/common/LetterContents/LetterContents.astro";
import PageTitle from "@/components/common/PageTitle/PageTitle.astro";
import TOC from "@/components/common/TOC/TOC.astro";
import type { TOCItem } from "@/components/common/TOC/types";
import TextLink from "@/components/common/TextLink/TextLink.astro";
import styles from "./StartCafePage.css";

const toc: TOCItem[] = [
  {
    id: "flow",
    title: "立ち上げの流れ",
  },
  {
    id: "mailing-list",
    title: "メーリングリストに登録することができます",
  },
];
---

<div class={styles.page}>
  <div class={styles.header}>
    <div class={styles.title}>
      <PageTitle>こども食堂の立ち上げ</PageTitle>
    </div>
    <aside class={styles.callout}>
      <p>PDF版の資料が必要な場合は下記のリンクからダウンロードしてください。</p>
      <p>
        <DownloadLink
          href={new URL(
            "/media/documents/amakodomoshokudou-pamphlet.pdf",
            Astro.site,
          ).toString()}
          filename="amakodomoshokudou-pamphlet"
        >
          尼崎こども食堂ネットワーク・パンフレット（PDF）
        </DownloadLink>
      </p>
    </aside>
    <div class={styles.toc}>
      <TOC items={toc} />
    </div>
  </div>
  <div class={styles.contents}>
    <div class={styles.content}>
      <LetterContents>
        <h2 id={toc[0].id}>{toc[0].title}</h2>
        <h3>1. まずは気持ちを整理！</h3>
        <p>
          なぜ活動しようと思ったのか、どんな食堂にしたいのか、気持ちを整理してみましょう。
        </p>
        <p>活動を続けていくためにも、仲間は大事です。</p>
        <p>目的や方向性を共有しながら進めていきましょう。</p>

        <h3>2. 社協むすぶグループへ相談</h3>
        <p>
          活動する地区の
          <TextLink href="http://amasyakyo.jp/syakyo_index/access/" isExternal>
            「むすぶグループ(尼崎市社会福祉協議会の支部)」
          </TextLink>
           に相談しましょう
        </p>
        <p>
          地域とのつながり作りや、イベント保険の案内、他のこども食堂の見学など、立ち上げるまで、立ち上げてからのお手伝いをしてくれます。
        </p>

        <h4>他のこども食堂を見学してみよう！</h4>
        <p>
          実際に活動している現場を見学することで、より具体的な計画が立てやすくなります。
        </p>
        <p>会食やお弁当配布、フードパントリーなど、実施形態はさまざまです。</p>
        <p>自分たちに合った方法を見つけましょう。</p>

        <h3>3. 保健所に相談しよう！</h3>
        <p>食品衛生法上の手続きについて、保健所に相談しましょう。</p>
        <p>
          詳細は<TextLink
            isExternal
            href="https://www.city.amagasaki.hyogo.jp/sangyo/zigyousya/insyokuten/1025137.html"
          >
            尼崎市のホームページ
          </TextLink>をご覧ください。
        </p>

        <h3>4. まずは1回やってみよう！</h3>
        <p>
          当日のスケジュールや、今後の運営のおおまかな段取りなどが分かり、また、地域のみなさんに活動を知ってもらう機会にもなります。
        </p>
      </LetterContents>
    </div>

    <div class={styles.content}>
      <LetterContents>
        <h2 id={toc[1].id}>{toc[1].title}</h2>
        <p>
          寄付食材や、研修会の情報等、活動を続けていくために役立つ情報をお届けします。
        </p>
        <p>
          尼崎こども食堂ネットワーク事務局まで、登録希望のご連絡をお願いします
        </p>
        <div>
          <ContactArea />
        </div>
      </LetterContents>
    </div>
  </div>
</div>
