---
import ContactArea from "@/components/common/ContactArea/ContactArea.astro";
import DownloadLink from "@/components/common/DownloadLink/DownloadLink.astro";
import LetterContent from "@/components/common/LetterContent/LetterContent.astro";
import PageTitle from "@/components/common/PageTitle/PageTitle.astro";
import TOC from "@/components/common/TOC/TOC.astro";
import type { TOCItem } from "@/components/common/TOC/types";
import TextLink from "@/components/common/TextLink/TextLink.astro";

const toc: TOCItem[] = [
  {
    id: "flow",
    title: "立ち上げの流れ",
  },
  {
    id: "mailing-list",
    title: "メーリングリストに登録することができます",
  },
];
---

<div class="wrapper">
  <div class="header">
    <div class="header__title">
      <PageTitle>こども食堂の立ち上げ</PageTitle>
    </div>
    <aside class="header__callout callout">
      <p>PDF版の資料が必要な場合は下記のリンクからダウンロードしてください。</p>
      <p>
        <DownloadLink
          href={new URL(
            "/media/documents/amakodomoshokudou-pamphlet.pdf",
            Astro.site,
          ).toString()}
          filename="amakodomoshokudou-pamphlet"
        >
          尼崎こども食堂ネットワーク・パンフレット（PDF）
        </DownloadLink>
      </p>
    </aside>
    <div class="header__toc">
      <TOC items={toc} />
    </div>
  </div>
  <div class="contents">
    <div class="contents__item">
      <LetterContent>
        <h2 id={toc[0].id}>{toc[0].title}</h2>
        <h3>1. まずは気持ちを整理！</h3>
        <p>
          なぜ活動しようと思ったのか、どんな食堂にしたいのか、気持ちを整理してみましょう。
        </p>
        <p>活動を続けていくためにも、仲間は大事です。</p>
        <p>目的や方向性を共有しながら進めていきましょう。</p>

        <h3>2. 社協むすぶグループへ相談</h3>
        <p>
          活動する地区の
          <TextLink href="http://amasyakyo.jp/syakyo_index/access/" isExternal>
            「むすぶグループ(尼崎市社会福祉協議会の支部)」
          </TextLink>
           に相談しましょう
        </p>
        <p>
          地域とのつながり作りや、イベント保険の案内、他のこども食堂の見学など、立ち上げるまで、立ち上げてからのお手伝いをしてくれます。
        </p>

        <h4>他のこども食堂を見学してみよう！</h4>
        <p>
          実際に活動している現場を見学することで、より具体的な計画が立てやすくなります。
        </p>
        <p>会食やお弁当配布、フードパントリーなど、実施形態はさまざまです。</p>
        <p>自分たちに合った方法を見つけましょう。</p>

        <h3>3. 保健所に相談しよう！</h3>
        <p>食品衛生法上の手続きについて、保健所に相談しましょう。</p>
        <p>
          詳細は<TextLink
            isExternal
            href="https://www.city.amagasaki.hyogo.jp/sangyo/zigyousya/insyokuten/1025137.html"
          >
            尼崎市のホームページ
          </TextLink>をご覧ください。
        </p>

        <h3>4. まずは1回やってみよう！</h3>
        <p>
          当日のスケジュールや、今後の運営のおおまかな段取りなどが分かり、また、地域のみなさんに活動を知ってもらう機会にもなります。
        </p>
      </LetterContent>
    </div>

    <div class="contents__item">
      <LetterContent>
        <h2 id={toc[1].id}>{toc[1].title}</h2>
        <p>
          寄付食材や、研修会の情報等、活動を続けていくために役立つ情報をお届けします。
        </p>
        <p>
          尼崎こども食堂ネットワーク事務局まで、登録希望のご連絡をお願いします
        </p>
        <div>
          <ContactArea />
        </div>
      </LetterContent>
    </div>
  </div>
</div>

<style>
  .wrapper {
    border-block-start: 8px solid var(--c-orange);
  }

  .header {
    display: grid;
    grid-template-columns:
      [main-start] auto [content-start] min(var(--w-container), 100%)
      [content-end] auto [main-end];
    row-gap: 1rem;
    padding-block: 2rem;
    padding-inline: 1rem;
  }

  .header__title {
    grid-column: content-start / content-end;
  }

  .header__callout {
    grid-column: content-start / content-end;
  }

  .header__toc {
    grid-column: content-start / content-end;
  }

  .callout {
    display: grid;
    row-gap: 0.5rem;
    padding: 1rem;
    background-color: var(--c-gray-light);
    border-radius: 2px;
  }

  .contents {
    display: grid;
    grid-template-columns:
      [main-start] auto [content-start] min(var(--w-container), 100%)
      [content-end] auto [main-end];
    row-gap: 4rem;
    padding-block: 2rem;
    padding-inline: 1rem;
    background-color: var(--c-orange-light);
  }

  .contents__item {
    grid-column: content-start / content-end;
  }

  @media (width >= 64em) {
    .wrapper {
      grid-template-columns:
        1.5rem
        auto
        min(var(--w-container), calc(100% - 2rem))
        auto
        1.5rem;
    }

    .header {
      row-gap: 1.5rem;
      padding-block: 3rem;
      padding-inline: 1.5rem;
    }

    .contents {
      row-gap: 6rem;
      padding-block: 3rem;
      padding-inline: 1.5rem;
    }
  }

  @media (prefers-color-scheme: dark) {
    .wrapper {
      border-block-start-color: var(--c-orange-dark);
    }

    .callout {
      background-color: var(--c-black-dark);
    }

    .contents {
      background-color: var(--c-orange-darkest);
    }
  }
</style>
