---
import { bankAccount } from "@/consts/bankAccount";
import styles from "./BankAccount.css";
---

<div class={styles.bankAccount}>
  <p class={styles.title}>口座情報</p>
  <dl>
    {
      Object.values(bankAccount).map(({ title, value }) => (
        <div class={styles.item}>
          <dt class={styles.itemTitle}>{title}</dt>
          <dd class={styles.itemDesc}>{value}</dd>
        </div>
      ))
    }
  </dl>
</div>
