---
import ActiveCards from "@/components/common/ActiveCards/ActiveCards.astro";
import DownloadLink from "@/components/common/DownloadLink/DownloadLink.astro";
import Heading from "@/components/common/Heading/Heading.astro";
import LetterContent from "@/components/common/LetterContent/LetterContent.astro";
import PageTitle from "@/components/common/PageTitle/PageTitle.astro";
import TOC from "@/components/common/TOC/TOC.astro";
import type { TOCItem } from "@/components/common/TOC/types";
import Comments from "@/components/pages/AboutPage/components/Comments/Comments.astro";
import Histories from "@/components/pages/AboutPage/components/Histories/Histories.astro";
import Overview from "@/components/pages/AboutPage/components/Overview/Overview.astro";

const toc: TOCItem[] = [
  {
    id: "philosophy",
    title: "理念",
  },
  {
    id: "activities",
    title: "活動内容",
  },
  {
    id: "histories",
    title: "発足の経緯",
  },
  {
    id: "overview",
    title: "団体概要",
  },
];
---

<div class="wrapper">
  <div class="header">
    <PageTitle>私たちについて</PageTitle>
    <aside class="callout">
      <p>PDF版の資料が必要な場合は下記のリンクからダウンロードしてください。</p>
      <p>
        <DownloadLink
          href={new URL(
            "/media/documents/amakodomoshokudou-pamphlet.pdf",
            Astro.site,
          ).toString()}
          filename="amakodomoshokudou-pamphlet"
        >
          尼崎こども食堂ネットワーク・パンフレット（PDF）
        </DownloadLink>
      </p>
    </aside>
    <TOC items={toc} />
  </div>

  <div class="philosophy">
    <LetterContent>
      <h2 id={toc[0].id}>{toc[0].title}</h2>
      <h3>アマのこども食堂が身近な地域の居場所であり続けられるように</h3>
      <p>
        尼崎市では2015年に、「こども食堂」第1号が立ち上がり、その後、多くの地域住民がそれぞれの地域で、「こどもたちのために何かしたい」という思いで、活動を始めていきました。
      </p>
      <p>
        身近な「地域のこどもの居場所」として、自慢の料理をふるまったり、いっしょに遊んだり騒いだり、時には保護者やこどものグチやお話を聞いたり、それぞれの思いを大切に、活動しています。
      </p>
      <p>
        「尼崎こども食堂ネットワーク」は、アマのこども食堂が、アマのこどもたちにとって「身近な地域の居場所」であり続けられるように、中間支援的な役割を担う団体として活動しています。
      </p>
    </LetterContent>
  </div>

  <section class="activities">
    <Heading id={toc[1].id}>{toc[1].title}</Heading>
    <ActiveCards />
  </section>

  <section class="histories">
    <Heading id={toc[2].id}>{toc[2].title}</Heading>
    <Histories />
  </section>

  <section class="overview">
    <Heading id={toc[3].id}>{toc[3].title}</Heading>
    <Overview />
  </section>

  <aside class="comments">
    <Heading>コメント</Heading>
    <Comments />
  </aside>
</div>

<style>
  .wrapper {
    display: grid;
    grid-template-areas:
      ". . . . ."
      ". . header . ."
      ". . . . ."
      "philosophy philosophy philosophy philosophy philosophy"
      ". . . . ."
      ". . activities . ."
      ". . . . ."
      ". . histories . ."
      ". . . . ."
      ". . overview . ."
      ". . . . ."
      ". . comments . ."
      ". . . . .";
    grid-template-rows: 2rem auto 2rem auto 6rem auto 6rem auto 6rem auto 6rem auto 6rem;
    grid-template-columns:
      1rem
      auto
      min(var(--w-container), calc(100% - 2rem))
      auto
      1rem;
    border-block-start: 8px solid var(--c-orange);
  }

  .header {
    display: grid;
    grid-area: header;
    row-gap: 1rem;
  }

  .callout {
    display: grid;
    row-gap: 0.5rem;
    padding: 1rem;
    background-color: var(--c-gray-light);
    border-radius: 2px;
  }

  .philosophy {
    display: grid;
    grid-area: philosophy;
    grid-template-columns:
      [main-start] auto [content-start] min(var(--w-container), 100%)
      [content-end] auto [main-end];
    padding-block: 2rem;
    padding-inline: 1rem;
    background-color: var(--c-orange-light);
  }

  .philosophy__inner {
    display: grid;
    grid-column: content-start / content-end;
    row-gap: 1rem;
    padding-block: 1.5rem;
    padding-inline: 1rem;
    background-color: var(--c-white);
    border-inline-start: 4px solid var(--c-orange);
    border-radius: 2px;
  }

  .activities {
    display: grid;
    grid-area: activities;
    row-gap: 1rem;
  }

  .histories {
    display: grid;
    grid-area: histories;
    row-gap: 1rem;
  }

  .overview {
    display: grid;
    grid-area: overview;
    row-gap: 1rem;
  }

  .comments {
    display: grid;
    grid-area: comments;
    row-gap: 1rem;
  }

  @media (width >= 64em) {
    .wrapper {
      grid-template-rows: 3rem auto 3rem auto 6rem auto 6rem auto 6rem auto 6rem auto 6rem;
      grid-template-columns:
        1.5rem auto
        min(var(--w-container), calc(100% - 3rem))
        auto 1.5rem;
    }

    .header {
      row-gap: 1.5rem;
    }

    .philosophy {
      padding-block: 3rem;
      padding-inline: 1.5rem;
    }

    .philosophy__inner {
      padding-block: 3rem;
      padding-inline: 2.5rem;
    }
  }

  @media (prefers-color-scheme: dark) {
    .wrapper {
      border-block-start-color: var(--c-orange-dark);
    }

    .callout {
      background-color: var(--c-black-dark);
    }

    .philosophy {
      background-color: var(--c-orange-darkest);
    }

    .philosophy__inner {
      background-color: var(--c-black);
      border-inline-start-color: var(--c-orange-dark);
    }
  }
</style>
