---
import styles from "./AboutPage.css";
import ActiveCards from "@/components/common/ActiveCards/ActiveCards.astro";
import DownloadLink from "@/components/common/DownloadLink/DownloadLink.astro";
import Heading from "@/components/common/Heading/Heading.astro";
import LetterContent from "@/components/common/LetterContent/LetterContent.astro";
import PageTitle from "@/components/common/PageTitle/PageTitle.astro";
import TOC from "@/components/common/TOC/TOC.astro";
import type { TOCItem } from "@/components/common/TOC/types";
import Comments from "@/components/pages/AboutPage/components/Comments/Comments.astro";
import Histories from "@/components/pages/AboutPage/components/Histories/Histories.astro";
import Overview from "@/components/pages/AboutPage/components/Overview/Overview.astro";

const toc: TOCItem[] = [
  {
    id: "philosophy",
    title: "理念",
  },
  {
    id: "activities",
    title: "活動内容",
  },
  {
    id: "histories",
    title: "発足の経緯",
  },
  {
    id: "overview",
    title: "団体概要",
  },
];
---

<div class={styles.page}>
  <div class={styles.header}>
    <div class={styles.title}>
      <PageTitle>私たちについて</PageTitle>
    </div>
    <aside class={styles.callout}>
      <p>PDF版の資料が必要な場合は下記のリンクからダウンロードしてください。</p>
      <p>
        <DownloadLink
          href={new URL(
            "/media/documents/amakodomoshokudou-pamphlet.pdf",
            Astro.site,
          ).toString()}
          filename="amakodomoshokudou-pamphlet"
        >
          尼崎こども食堂ネットワーク・パンフレット（PDF）
        </DownloadLink>
      </p>
    </aside>
    <div class={styles.toc}>
      <TOC items={toc} />
    </div>
  </div>

  <div class={styles.withBg}>
    <LetterContent>
      <h2 id={toc[0].id}>{toc[0].title}</h2>
      <h3>アマのこども食堂が身近な地域の居場所であり続けられるように</h3>
      <p>
        尼崎市では2015年に、「こども食堂」第1号が立ち上がり、その後、多くの地域住民がそれぞれの地域で、「こどもたちのために何かしたい」という思いで、活動を始めていきました。
      </p>
      <p>
        身近な「地域のこどもの居場所」として、自慢の料理をふるまったり、いっしょに遊んだり騒いだり、時には保護者やこどものグチやお話を聞いたり、それぞれの思いを大切に、活動しています。
      </p>
      <p>
        「尼崎こども食堂ネットワーク」は、アマのこども食堂が、アマのこどもたちにとって「身近な地域の居場所」であり続けられるように、中間支援的な役割を担う団体として活動しています。
      </p>
    </LetterContent>
  </div>

  <div class={styles.body}>
    <section class={styles.activities}>
      <div>
        <Heading id={toc[1].id}>{toc[1].title}</Heading>
      </div>
      <div>
        <ActiveCards />
      </div>
    </section>

    <section class={styles.histories}>
      <div>
        <Heading id={toc[2].id}>{toc[2].title}</Heading>
      </div>
      <div>
        <Histories />
      </div>
    </section>

    <section class={styles.overview}>
      <div>
        <Heading id={toc[3].id}>{toc[3].title}</Heading>
      </div>
      <div>
        <Overview />
      </div>
    </section>

    <aside class={styles.comments}>
      <div>
        <Heading>コメント</Heading>
      </div>
      <div>
        <Comments />
      </div>
    </aside>
  </div>
</div>
