---
import styles from "./TOC.css";
import type { TOCItem } from "./types";
export type Props = {
  items: TOCItem[];
};

const { items } = Astro.props;
---

<nav aria-label="目次" class={styles.toc}>
  <ul class={styles.list}>
    {
      items.map(({ id, title }) => (
        <li>
          <a href={`#${id}`} class={styles.link}>
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
