---
import MapPDFCallout from "@/components/pages/CafesPage/components/MapPDFCallout/MapPDFCallout.astro";
import styles from "./CafesPage.css";
---

<div class={styles.page}>
  <div class={styles.header}>
    <div class={styles.top}>
      <div>
        <slot name="title" />
      </div>
      <p>掲載許可の取れた食堂のみ掲載しています。</p>
    </div>
    <div class={styles.callout}>
      <MapPDFCallout />
    </div>
    <div class={styles.nav}>
      <slot name="nav" />
    </div>
  </div>

  <div class={styles.body}>
    <div class={styles.contents}>
      <div class={styles.cafes}>
        <slot name="cafes" />
      </div>
      <slot name="pagination" />
    </div>
  </div>
</div>
