---
import DownloadLink from "@/pages/_components/DownloadLink/DownloadLink.astro";
import { site } from "@/pages/_consts/site";
import type { BreadcrumbItems } from "@/pages/_layouts/Breadcrumb/type";
import Document from "@/pages/_layouts/Document.astro";
import Layout from "@/pages/_layouts/Layout.astro";
import AreaFilter from "@/pages/cafes/_components/AreaFilter/AreaFilter.astro";
import CafeList from "@/pages/cafes/_components/CafeList/CafeList.astro";
import Pagination from "@/pages/cafes/_components/Pagination/Pagination.astro";
import { fetchCafes } from "@/pages/cafes/_utils/cafe";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const cafes = await fetchCafes();

  return paginate(cafes, {
    pageSize: site.cafesPerPage,
  });
}) satisfies GetStaticPaths;

const props = Astro.props;
const { data: cafes, lastPage, currentPage } = props.page;

const isFirstPage = currentPage === 1;

const breadcrumb: BreadcrumbItems = isFirstPage
  ? [
      {
        title: "トップページ",
        href: "/",
      },
      {
        title: "尼崎のこども食堂",
      },
    ]
  : [
      {
        title: "トップページ",
        href: "/",
      },
      {
        title: "尼崎のこども食堂",
        href: "/cafes",
      },
      {
        title: `${currentPage}ページ目`,
      },
    ];
---

<Document
  title={isFirstPage
    ? "尼崎のこども食堂"
    : `尼崎のこども食堂 ${currentPage}ページ目`}
  desc="掲載許可の取れた尼崎市内のこども食堂の一覧を掲載したページです。"
>
  <Layout breadcrumb={breadcrumb}>
    <div class="border-t-8 border-t-accent px-20 py-32 lg:px-32 lg:py-52">
      <div class="grid gap-y-20 mx-auto max-w-932 lg:gap-y-32">
        <div class="grid gap-y-12 lg:gap-y-20">
          <h1 class="grid gap-y-8 font-bold lg:gap-y-12">
            <span class="text-2xl lg:text-3xl">尼崎のこども食堂</span>
            {
              !isFirstPage && (
                <span class="rounded-sm bg-secondary-background text-xs px-8 py-4 w-fit">
                  {currentPage}ページ目
                </span>
              )
            }
          </h1>
          <p class="text-sm">掲載許可の取れたこども食堂のみ掲載しています。</p>
        </div>
        <aside
          class="grid gap-y-12 rounded-xl border border-secondary-border p-12 lg:p-20"
        >
          <p class="font-bold">PDF版の資料</p>
          <p>
            <DownloadLink
              href="/media/documents/amakodomoshokudou-map.pdf"
              filename="amacodomoshokudou-map"
            >
              尼崎こども食堂マップ
            </DownloadLink>
          </p>
        </aside>
      </div>
    </div>

    <div class="bg-secondary-background px-20 py-32 lg:px-32 lg:py-52">
      <div class="grid gap-y-32 mx-auto max-w-932 lg:gap-y-52">
        <AreaFilter />
        <CafeList cafes={cafes} />
        {
          lastPage > 1 && (
            <Pagination
              current={currentPage}
              total={lastPage}
              baseUrl="/cafes"
            />
          )
        }
      </div>
    </div>
  </Layout>
</Document>
