---
import Contact from "@/components/common/Header/components/Contact/Contact.astro";
import GlobalNav from "@/components/common/Header/components/GlobalNav/GlobalNav.astro";
import Logo from "@/components/common/Header/components/Logo/Logo.astro";
import MenuDialog from "@/components/common/Header/components/MenuDialog/MenuDialog.astro";
import styles from "./Header.css";
---

<header class={styles.header}>
  <div class={styles.logo}>
    <Logo />
  </div>
  <div class={styles.nav}>
    <GlobalNav />
  </div>
  <div class={styles.contact}>
    <Contact />
  </div>
  <div class={styles.menu}>
    <MenuDialog />
  </div>
</header>
