---
import styles from "./Pagination.css";
import type { PaginationItems } from "./types";
export type Props = {
  baseUrl: `/${string}`;
  items: PaginationItems;
};

const { baseUrl, items } = Astro.props;
---

<nav aria-label="ページ送り">
  <ol class={styles.list}>
    {
      items.map(({ page, isCurrent = false }) => (
        <li>
          {isCurrent ? (
            <span aria-current="page" class={styles.current}>
              <span class={styles.pageVoice}>{`${page}ページ目`}</span>
              <span aria-hidden="true">{page}</span>
            </span>
          ) : (
            <a
              href={page === 1 ? baseUrl : `${baseUrl}/page/${page}`}
              class={styles.link}
            >
              <span class={styles.pageVoice}>{`${page}ページ目`}</span>
              <span aria-hidden="true">{page}</span>
            </a>
          )}
        </li>
      ))
    }
  </ol>
</nav>
