---
import styles from "./Breadcrumb.css";
import Icon from "@/components/common/Icon/Icon.astro";
import type {
  BreadcrumbCurrentItem,
  BreadcrumbItems,
  BreadcrumbParentItem,
} from "./types";

export type Props = {
  items: BreadcrumbItems;
};

const { items } = Astro.props;

const currentItem = items[items.length - 1] as BreadcrumbCurrentItem;
const parentItems = items.slice(0, items.length - 1) as BreadcrumbParentItem[];
---

<nav aria-label="現在位置" class={styles.nav}>
  <ul class={styles.list}>
    {
      parentItems.map((item) => (
        <li class={styles.item}>
          <a href={item.href} class={styles.link}>
            {item.title}
          </a>
          <Icon type="next" label="の中の" />
        </li>
      ))
    }
    {
      currentItem && (
        <li class={styles.item}>
          <span aria-current="page" class={styles.current}>
            {currentItem.title}
          </span>
        </li>
      )
    }
  </ul>
</nav>
