---
import { fetchAreas } from "../../../../pages/cafes/_utils/area";
import icon from "./assets/icon.svg";

const areas = await fetchAreas();
const pathname = Astro.url.pathname;
---

<details
  class="group border-primary-border bg-tertiary-background rounded-xl border"
>
  <summary
    class="bg-primary-background grid cursor-pointer grid-cols-[1fr_1.5em] items-center rounded-xl px-12 py-8 group-open:rounded-b-none [&::-webkit-details-marker]:hidden"
  >
    <span class="font-bold">地区で絞る</span>
    <span
      role="img"
      aria-hidden="true"
      style={{
        maskImage: `url(${icon.src})`,
        WebkitMaskImage: `url(${icon.src})`,
      }}
      class="size-[1.5rem] bg-[currentColor] [mask-position:center] [mask-repeat:no-repeat] [mask-size:cover] group-open:rotate-180"
    ></span>
  </summary>
  <nav class="border-t-secondary-border border-t p-12" aria-label="地区別">
    <ol
      class="grid grid-cols-[repeat(auto-fill,min(var(--spacing-84),100%))] gap-12"
    >
      <li>
        <a
          href="/cafes/"
          aria-current={pathname === "/cafes" ? "page" : undefined}
          class={[
            "grid justify-center rounded-xl border border-primary-border px-12 py-8",
            pathname.startsWith("/cafes") &&
            !pathname.startsWith("/cafes/areas")
              ? "bg-secondary-background"
              : "bg-primary-background",
          ].join(" ")}
        >
          すべて
        </a>
      </li>
      {
        areas.map((area) => (
          <li>
            <a
              href={`/cafes/areas/${area.slug}/`}
              aria-current={
                pathname === `/cafes/areas/${area.slug}` ? "page" : undefined
              }
              class={[
                "border-primary-border grid justify-center rounded-xl border px-12 py-8",
                pathname.startsWith(`/cafes/areas/${area.slug}`)
                  ? "bg-secondary-background"
                  : "bg-primary-background",
              ].join(" ")}
            >
              {area.name}
            </a>
          </li>
        ))
      }
    </ol>
  </nav>
</details>
