---
import styles from "./Layout.css";
import Breadcrumb from "@/components/common/Breadcrumb/Breadcrumb.astro";
import type { BreadcrumbItems } from "@/components/common/Breadcrumb/types";
import Footer from "@/components/common/Footer/Footer.astro";
import Header from "@/components/common/Header/Header.astro";

export type Props = {
  breadcrumb?: BreadcrumbItems;
};

const { breadcrumb } = Astro.props;
---

<div class={styles.root}>
  <a href="#main" class={styles.skip}>本文へスキップ</a>
  <div class={styles.header}>
    <Header />
  </div>
  <main id="main" class={styles.main}>
    <slot />
  </main>
  <div class={styles.footer}>
    {breadcrumb && <Breadcrumb items={breadcrumb} />}
    <Footer />
  </div>
</div>
