---
import styles from "./GlobalNav.css";
import { summary } from "@/consts/summary";
import Icon from "@/components/common/Icon/Icon.astro";
import type { GlobalNavItem } from "./types";

const navItems: GlobalNavItem[] = [
  {
    type: "internal",
    title: "私たちについて",
    href: "/about",
    isCurrent: Astro.url.pathname === "/about",
    isActive: Astro.url.pathname.startsWith("/about"),
  },
  {
    type: "internal",
    title: "尼崎のこども食堂一覧",
    href: "/cafes",
    isCurrent: Astro.url.pathname === "/cafes",
    isActive: Astro.url.pathname.startsWith("/cafes"),
  },
  {
    type: "internal",
    title: "尼崎のこども食堂への支援",
    href: "/charity",
    isCurrent: Astro.url.pathname === "/charity",
    isActive: Astro.url.pathname.startsWith("/charity"),
  },
  {
    type: "internal",
    title: "こども食堂の立ち上げ",
    href: "/start-cafe",
    isCurrent: Astro.url.pathname === "/start-cafe",
    isActive: Astro.url.pathname.startsWith("/start-cafe"),
  },
  {
    type: "external",
    title: "お知らせ（Facebook）",
    href: summary.facebook.value,
  },
];
---

<nav aria-label="メインメニュー" class="nav">
  <ul class={styles.list}>
    {
      navItems.map((item) => (
        <li class={styles.item}>
          {item.type === "internal" && (
            <a
              href={item.href}
              aria-current={item.isCurrent ? "page" : undefined}
              data-active={item.isActive ? "true" : undefined}
              class={styles.link}
            >
              {item.title}
            </a>
          )}
          {item.type === "external" && (
            <a
              href={item.href}
              target="_blank"
              rel="noopener noreferrer"
              class={styles.link}
            >
              {item.title}
              <Icon type="external" label="外部リンク" />
            </a>
          )}
        </li>
      ))
    }
  </ul>
</nav>
