---
import styles from "./Overview.css";
import TextLink from "@/components/common/TextLink/TextLink.astro";
import { summary } from "@/consts/summary";
---

<dl class={styles.list}>
  <div class={styles.item}>
    <dt class={styles.title}>{summary.name.title}</dt>
    <dd class={styles.desc}>{summary.name.value}</dd>
  </div>
  <div class={styles.item}>
    <dt class={styles.title}>{summary.constituent.title}</dt>
    <dd class={styles.desc}>
      <ul>
        {summary.constituent.value.map((item) => <li>{item}</li>)}
      </ul>
    </dd>
  </div>
  <div class={styles.item}>
    <dt class={styles.title}>{summary.establish.title}</dt>
    <dd class={styles.desc}>
      <time datetime={summary.establish.value.datetime}
        >{summary.establish.value.display}</time
      >
    </dd>
  </div>
  <div class={styles.item}>
    <dt class={styles.title}>{summary.representative.title}</dt>
    <dd class={styles.desc}>{summary.representative.value}</dd>
  </div>
  <div class={styles.item}>
    <dt class={styles.title}>{summary.location.title}</dt>
    <dd class={styles.desc}>
      {`〒${summary.location.value.postalCode}`}<br />{
        summary.location.value.address
      }
    </dd>
  </div>
  <div class={styles.item}>
    <dt class={styles.title}>{summary.facebook.title}</dt>
    <dd class={styles.desc}>
      <TextLink href={summary.facebook.value} isExternal>
        {summary.facebook.value}
      </TextLink>
    </dd>
  </div>
</dl>
