---
import styles from "./CafeNav.css";
import type { CafeNavItems } from "./types";
export type Props = {
  items: CafeNavItems;
};

const id = "cafe-nav";

const { items } = Astro.props;
---

<nav class={styles.nav} aria-labelledby={id}>
  <h2 class={styles.title} id={id}>地区で絞る</h2>
  <ul class={styles.list}>
    {
      items.map(({ title, href, isCurrent = false, isActive = false }) => (
        <li>
          <a
            href={href}
            class={styles.link}
            aria-current={isCurrent ? "page" : undefined}
            data-active={isActive ? "true" : undefined}
          >
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
