---
import styles from "./Logo.css";
import { site } from "@/consts/site";
import icon from "./assets/icon.svg";
import name from "./assets/name.svg";
import { Image } from "astro:assets";

const isHomePage = Astro.url.pathname === "/";
---

<p>
  <a
    aria-current={isHomePage ? "page" : undefined}
    href="/"
    class={styles.logo}
  >
    <Image src={icon} alt="" class={styles.icon} />
    <Image src={name} alt={site.title} class={styles.name} />
  </a>
</p>
