---
import styles from "./ActiveCards.css";
import { Image } from "astro:assets";
import img1 from "./assets/training.png";
import img2 from "./assets/food.png";
import img3 from "./assets/information.png";

const activities = [
  {
    title: "研修・学習会",
    content: "こども食堂スタッフや食堂に関心のある人への研修・学習会",
    image: {
      metadata: img1,
      alt: "写真：研修会の様子",
    },
  },
  {
    title: "食料配布",
    content: "寄付頂いた食料品等をこども食堂等の運営団体へ配布",
    image: {
      metadata: img2,
      alt: "写真：配布するお菓子",
    },
  },
  {
    title: "情報発信",
    content: "こども食堂等の活動への理解を促進する情報発信",
    image: {
      metadata: img3,
      alt: "写真：掲示板にこども食堂の活動についてのチラシを掲載",
    },
  },
];
---

<div class={styles.activities}>
  {
    activities.map(({ title, content, image }) => (
      <div class={styles.activity}>
        <div class={styles.activity__body}>
          <h3 class={styles.activity__title}>{title}</h3>
          <p>{content}</p>
        </div>
        <figure class={styles.activity__image}>
          <Image
            src={image.metadata}
            alt={image.alt}
            format="webp"
            loading="eager"
            decoding="auto"
          />
        </figure>
      </div>
    ))
  }
</div>
