---
import styles from "./HomePage.css";
import Activities from "@/components/pages/HomePage/components/Activities/Activities.astro";
import Charity from "@/components/pages/HomePage/components/Charity/Charity.astro";
import Key from "@/components/pages/HomePage/components/Key/Key.astro";
import SearchCafes from "@/components/pages/HomePage/components/SearchCafes/SearchCafes.astro";
import StartCafe from "@/components/pages/HomePage/components/StartCafe/StartCafe.astro";
---

<div class={styles.page}>
  <div class={styles.header}>
    <div class={styles.key}>
      <Key />
    </div>
  </div>
  <div class={styles.body}>
    <div class={styles.activities}>
      <Activities />
    </div>
    <div class={styles.search}>
      <SearchCafes />
    </div>
    <div class={styles.charity}>
      <Charity />
    </div>
    <div class={styles.start}>
      <StartCafe />
    </div>
  </div>
</div>
