---
import "../styles/globals.css";
import { site } from "../consts/site";
import "@fontsource-variable/noto-sans-jp";

export type Props = {
  title?: string;
  desc?: string;
};

const {
  title: baseTitle = site.title,
  desc = "尼崎こども食堂ネットワークは尼崎市内のこども食堂が、これからもアマのこどもたちにとっての「身近な地域の居場所」であり続けられるように活動している団体です。",
} = Astro.props;

const title =
  baseTitle === site.title ? baseTitle : `${baseTitle} - ${site.title}`;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>

    <meta name="description" content={desc} />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="theme-color" content="#FFCC66" />
    <meta name="generator" content={Astro.generator} />
    <meta name="format-detection" content="telephone=no" />

    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta
      property="og:image"
      content={new URL("/media/images/thumbnail.png", Astro.site).toString()}
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta
      property="og:image:alt"
      content="太陽と新芽を意識した尼崎こども食堂ネットワークのロゴ"
    />
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:site_name" content={site.title} />

    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:url"
      content={new URL(Astro.url.pathname, Astro.site)}
    />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={desc} />
    <meta
      name="twitter:image"
      content={new URL("/media/images/thumbnail.png", Astro.site).toString()}
    />
    <meta
      name="twitter:image:alt"
      content="太陽と新芽を意識した尼崎こども食堂ネットワークのロゴ"
    />
  </head>

  <body>
    <slot />
  </body>
</html>
