---
import styles from "./Footer.css";
import { site } from "@/consts/site";

const links = [
  {
    title: "プライバシーポリシー",
    href: "/privacy-policy",
  },
];
---

<footer class={styles.footer}>
  <div class={styles.inner}>
    <ul class={styles.list}>
      {
        links.map((link) => (
          <li>
            <a href={link.href} class={styles.link}>
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>
    <p class={styles.copy}><small>&copy; 2023 {site.title}</small></p>
  </div>
</footer>
