---
import { Image } from "astro:assets";
import type { NewtCafe } from "../../../../schemas/cafe";
import defaultImg from "./assets/default-cafe.png";

export type Props = {
  cafes: NewtCafe[];
};

const { cafes } = Astro.props;
---

<div class="grid grid-cols-1 gap-32 sm:grid-cols-2">
  {
    cafes.map(({ name, image, address, schedule, host, contact }) => (
      <article class="border-secondary-border bg-primary-background grid grid-rows-[auto_auto_1fr] gap-y-12 rounded-xl border p-20">
        <h2 class="text-lg/lg lg:text-xl/xl font-bold">{name}</h2>
        {image ? (
          <Image
            src={image.src}
            width={1200}
            height={675}
            alt=""
            format="webp"
            class="bg-tertiary-background aspect-video rounded-md object-contain"
          />
        ) : (
          <Image
            src={defaultImg}
            alt=""
            width={675}
            height={675}
            format="webp"
            class="bg-tertiary-background aspect-video rounded-md object-contain"
          />
        )}
        <dl>
          <div class="odd:bg-tertiary-background flex flex-wrap gap-y-8 rounded-md py-8">
            <dt class="text-sm/sm flex-[1_0_var(--spacing-84)] px-12">住所</dt>
            <dd class="text-sm/sm min-w-[70%] flex-[9999_0_0] px-12">
              {address}
            </dd>
          </div>
          <div class="odd:bg-tertiary-background flex flex-wrap gap-y-8 rounded-md py-8">
            <dt class="text-sm/sm flex-[1_0_var(--spacing-84)] px-12">日時</dt>
            <dd class="text-sm/sm min-w-[70%] flex-[9999_0_0] px-12">
              {schedule}
            </dd>
          </div>
          <div class="odd:bg-tertiary-background flex flex-wrap gap-y-8 rounded-md py-8">
            <dt class="text-sm/sm flex-[1_0_var(--spacing-84)] px-12">
              主催者
            </dt>
            <dd class="text-sm/sm min-w-[70%] flex-[9999_0_0] px-12">{host}</dd>
          </div>
          {contact !== "" && (
            <div class="odd:bg-tertiary-background flex flex-wrap gap-y-8 rounded-md py-8">
              <dt class="text-sm/sm flex-[1_0_var(--spacing-84)] px-12">
                連絡先
              </dt>
              <dd class="text-sm/sm min-w-[70%] flex-[9999_0_0] px-12">
                {contact}
              </dd>
            </div>
          )}
        </dl>
      </article>
    ))
  }
</div>
