---
import styles from "./Contact.css";
import { summary } from "@/consts/summary";
import ClipboardCopy from "@/components/common/ClipboardCopy/ClipboardCopy.astro";
---

<div class={styles.contact}>
  <p class={styles.title}>お問い合わせはこちらまで</p>
  <p class={styles.mail}>{summary.mail.value}</p>
  <div>
    <ClipboardCopy copyText={summary.mail.value}>
      メールアドレスをコピー
    </ClipboardCopy>
  </div>
</div>
